key,value
agolurl,xxx
agolun,useridfromencryptedconfigfile
agolpwd,pwdfromencryptedconfigfile
etlcsvpath,x:\XXXXXX\XXXXXX\XXXXXX\XXXXXX\XXXXXX
localcsvpath,X:\XXXXXX\XXXXXX\XXXXXX
archivecsvpath,X:\XXXXXX\XXXXXX\XXXXXX
errorcsvpath,X:\XXXXXX\XXXXXX\XXXXXX
loglevel,20
logformat,%(levelname)s|%(asctime)s|%(filename)s|%(funcName)s|%(message)s
logpath,X:\XXXXXX\XXXXXX\XXXXXX
logfilename,capsis_agol
proxyport,xxxx
proxyhost,99.99.99.99
